{% extends 'base.html' %}

{% block content %}
  <h3>Sign Up <small class="text-muted">to create or find your own roommate listings!</small></h3>
  <hr>
      <div class="row">
        <div class="col">
          <form method="post" class="mx-auto">
            {% csrf_token %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-8">
                      <label for="id_{{ field.name }}">{{ field.label|title }}:</label>
                      <input class="form-control" type="{% if "password" in field.name %}password{% else %}text{% endif %}" name="{{ field.name }}" id="id_{{ field.name }}" required>
                    </div>
                </div>
            {% endfor %}
            Subscription amount: $14.99 (Hint: Use card number: 4242 4242 4242 4242 with 12/20 and 999)
            <br>
            <form action="/create_subscription.php" method="POST" type="submit" class="btn btn-success">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                    data-name="Roommate and tenant finder"
                    data-description="Roommate and tenant finder"
                    data-amount="1499"
                    data-label="Sign Up">
                </script>
            </form>
          </form>
        </div>
      </div>
{% endblock %}
