<div class="card mb-3">
  <h5 class="card-header ">{{ person.first_name }} {{ person.last_name }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ person.Bio|truncatewords_html:30 }}
      <hr>
      <div class="text-right"><a href="{% url 'person-details-page' person.slug %}" title="Read More">Read More</a></div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated {{ person.modified|date:"SHORT_DATETIME_FORMAT" }}: <b>{{ person.pub_date }}</b></small>
  </div>
</div>
